*
    font-family: 'Museo Sans Cyril', sans-serif

.container 
    min-width: 950px
    margin: 0 auto 

@import 'base/mixins'
@import 'base/variables'
@import 'blocks/promo'      
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/advantages'
@import 'blocks/media'
